.frist {
    background-color: red;
    height:50px;
    width:100%;
}
.second {
    background-color: white;
    height:50px;
    width:100%;
}
.thrid {
    background-color: red;
    height:50px;
    width:100%;
}
.fourth {
    background-color:white;
    height:50px;
    width:100px;
}
.fifth {
    background-color: red;
    height:50px;
    width:100%;
}
.sixth {
    background-color: white;
    height:50px;
    width:100%;
}
.seventh{
    background-color: red;
    height:50px;
    width:100%;
}
.eighth {
    background-color: white;
    height:50px;
    width:100%;
}
.nineth {
    background-color:red;
    height:50px;
    width:100%;
}
.tenth {
    background-color: white;
    height:50px;
    width:100%;
}
.eleven{
    background-color:red;
    height:50px;
    width:100%;
}
.twelve {
    background-color: white;
    height:50px;
    width:100%;
}
.thirteen {
    background-color: white;
    height:50px;
    width:100%;
}


   
